Main/Source/AMS.Migration/Service References/MigrateDataService/migratedata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllMissingPages">
        <s:complexType />
      </s:element>
      <s:element name="GetAllMissingPagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMissingPagesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPayPerClickCombinations">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPayPerClickCombinationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPayPerClickCombinationsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllBranchesDetails">
        <s:complexType />
      </s:element>
      <s:element name="GetAllBranchesDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllBranchesDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllLocationsPages">
        <s:complexType />
      </s:element>
      <s:element name="GetAllLocationsPagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllLocationsPagesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllMissingPagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMissingPages" />
  </wsdl:message>
  <wsdl:message name="GetAllMissingPagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMissingPagesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPayPerClickCombinationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPayPerClickCombinations" />
  </wsdl:message>
  <wsdl:message name="GetAllPayPerClickCombinationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPayPerClickCombinationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllBranchesDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllBranchesDetails" />
  </wsdl:message>
  <wsdl:message name="GetAllBranchesDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllBranchesDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllLocationsPagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllLocationsPages" />
  </wsdl:message>
  <wsdl:message name="GetAllLocationsPagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllLocationsPagesResponse" />
  </wsdl:message>
  <wsdl:portType name="MigrateDataSoap">
    <wsdl:operation name="GetAllMissingPages">
      <wsdl:input message="tns:GetAllMissingPagesSoapIn" />
      <wsdl:output message="tns:GetAllMissingPagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPayPerClickCombinations">
      <wsdl:input message="tns:GetAllPayPerClickCombinationsSoapIn" />
      <wsdl:output message="tns:GetAllPayPerClickCombinationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBranchesDetails">
      <wsdl:input message="tns:GetAllBranchesDetailsSoapIn" />
      <wsdl:output message="tns:GetAllBranchesDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLocationsPages">
      <wsdl:input message="tns:GetAllLocationsPagesSoapIn" />
      <wsdl:output message="tns:GetAllLocationsPagesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MigrateDataSoap" type="tns:MigrateDataSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMissingPages">
      <soap:operation soapAction="http://tempuri.org/GetAllMissingPages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPayPerClickCombinations">
      <soap:operation soapAction="http://tempuri.org/GetAllPayPerClickCombinations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBranchesDetails">
      <soap:operation soapAction="http://tempuri.org/GetAllBranchesDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLocationsPages">
      <soap:operation soapAction="http://tempuri.org/GetAllLocationsPages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MigrateDataSoap12" type="tns:MigrateDataSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMissingPages">
      <soap12:operation soapAction="http://tempuri.org/GetAllMissingPages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPayPerClickCombinations">
      <soap12:operation soapAction="http://tempuri.org/GetAllPayPerClickCombinations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBranchesDetails">
      <soap12:operation soapAction="http://tempuri.org/GetAllBranchesDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLocationsPages">
      <soap12:operation soapAction="http://tempuri.org/GetAllLocationsPages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MigrateData">
    <wsdl:port name="MigrateDataSoap" binding="tns:MigrateDataSoap">
      <soap:address location="http://sitecoremigratews.allmysons.com/migratedata.asmx" />
    </wsdl:port>
    <wsdl:port name="MigrateDataSoap12" binding="tns:MigrateDataSoap12">
      <soap12:address location="http://sitecoremigratews.allmysons.com/migratedata.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>